/* HEADER TODOS -----------------------------------------------------------------------------*/

.header {
        
    z-index: 1;
  
    .logo {
        width: 100vw;
    }

    .colornav{
        background-color: $verde-irantech;
        
    }

    nav{
        .container{
                ul{
                    li{
                        a{
                            color: #f7fbfcf5;
                             font-family: 'Roboto', sans-serif;
                             font-size: 1.2rem;



                        }
                    }
                }
        }
    }

}